# Build Folders
bin/
obj/

# Visual Studio working folder
.vs/

# ASP.NET Scaffolding
.scaffolding/

# Packages
packages/
*.nupkg
*.snupkg

# Visual Studio Code
.vscode/

# Logs
*.log

# Debug and Release Configuration

appsettings.Development.json

.idea/
